version 6.2.1

source https://api.nuget.org/v3/index.json
framework: netstandard20
storage: none

nuget FSharp.Core >= 6.0.6 lowest_matching:true
nuget FSharpx.Collections

group Test
  source https://api.nuget.org/v3/index.json
  framework: net48, net6, net8
  storage: none
  nuget FSharp.Core ~> 8.0
  nuget NUnit
  nuget NUnit3TestAdapter
  nuget FsCheck
  nuget FsUnit ~> 5.1
  nuget Microsoft.NET.Test.Sdk
  nuget GitHubActionsTestLogger

group FakeBuild
  source https://api.nuget.org/v3/index.json
  framework: net8
  storage: none

  nuget Fake.Api.GitHub
  nuget Fake.BuildServer.GitHubActions
  nuget Fake.Core.ReleaseNotes
  nuget Fake.Core.Target
  nuget Fake.Core.UserInput
  nuget Fake.DotNet.Cli
  nuget Fake.DotNet.Paket
  nuget Fake.IO.FileSystem
  nuget Fake.Tools.Git
  nuget FSharp.Core
